
.modalBackground {
    background-color: black;
    filter: alpha(opacity=90) !important;
    opacity: 0.6 !important;
    z-index: 20;
}

.modalpopup {
    padding: 20px 0px 10px 10px;
    position: relative;
    width: 45%;
    height: 50%;
    background-color: white;
    border: 1px solid black;
    top: 0px;
    left: 0px;
}

.modal-header {
    width: 100%;
    margin-bottom:10px;
}


.btn-success {
    margin-left: 200px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
/*.sacrum {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}*/
.dropdown-menu {
    padding-left: 15px !important;
}
@media (min-width: 1200px) {
    .container {
        max-width: 1400px !important;
    }
}
