
.modalBackground {
    background-color: black;
    filter: alpha(opacity=90) !important;
    opacity: 0.6 !important;
    z-index: 20;
}

.modalpopup {
    padding: 20px 0px 24px 10px;
    position: relative;
    width: 365px;
    height: 581px;
    background-color: white;
    border: 1px solid black;
    top: 0px;
    left: 0px;
}

.modal-header {
    width: 358px;
}


.btn-success {
    margin-left: 200px;
}
